/* color of the charter */
/* main color for footer */
/* backgroung light color */
/* color of shadow */
/* h1 text size */
@font-face {
  font-family: "Roboto-bold";
  src: url("../../fonts/Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../fonts/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
}

#bloc_page {
  width: auto;
  margin: auto;
}

p {
  font-family: Roboto;
}

.h1_index {
  font-family: Roboto-bold;
}

h1 {
  font-family: "Shrikhand";
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

/* property for all shadow */
/* property for all shadow/hover */
header {
  display: flex;
  justify-content: center;
  position: relative;
}
header h1 {
  font-size: 2.8em;
  margin-bottom: 10px;
}
header #arrow {
  position: absolute;
  top: 45px;
  left: 20px;
}

footer {
  background: #3a3f43;
  display: flex;
  flex-direction: column;
  height: 250px;
}
footer a, footer p {
  color: white;
  margin: 0px 0px 8px 20px;
  font-size: 1.2em;
}
footer a span, footer p span {
  display: inline-block;
  margin-right: 4px;
  width: 24px;
}
footer #logo_footer {
  width: 100%;
  font-family: Shrikhand;
  font-size: 1.5em;
  margin: 30px 0px 30px 20px;
}

/*home header */
#hd_home {
  box-shadow: 0px 5px 10px #cec8c8;
}

/* localisation */
#loca {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #f0f1f2;
  box-shadow: 0px 3px 15px #cec8c8 inset;
}
#loca span {
  margin: 16px;
}
#loca p {
  font-size: 1.15em;
  margin-right: 35px;
}

/* section with button explore */
#exploremain {
  background: #f8f9f9;
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
  justify-content: center;
}
#exploremain h1 {
  text-align: center;
  margin: 0px 60px;
  font-size: 2em;
}
#exploremain p {
  margin: 16px 60px;
  text-align: center;
  font-size: 1.2em;
}

/* operation section */
#operation {
  display: flex;
  flex-direction: column;
}
#operation h1 {
  margin-left: 20px;
  margin-top: 40px;
  font-size: 2em;
}

#contain_ope {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contain_ope .btn_ope {
  display: flex;
  align-items: center;
  background: #f8f9f9;
  margin-bottom: 25px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #cec8c8;
  width: 83%;
  height: 75px;
  position: relative;
}
#contain_ope .btn_ope:hover {
  background: #f2eafb;
}
#contain_ope .btn_ope:hover .icon_ope {
  color: #9356DC;
}

.btn_ope p {
  font-size: 1.3em;
  font-family: Roboto-bold;
}

.num {
  position: absolute;
  left: -12px;
  background: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 3px 9px;
  font-size: 1.3em;
}

.icon_ope {
  margin: 0px 30px 0px 50px;
  font-size: 1.5em;
  color: #838b93;
  width: 29px;
}

/* Restaurants section */
#restaurant {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background: #f8f9f9;
  width: auto;
  height: 1650px;
}
#restaurant h1 {
  margin: 70px 0px 25px 20px;
  font-size: 2em;
}

#container_rest {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container_rest .cards {
  position: relative;
  width: 90%;
  border-radius: 20px;
  background-color: white;
  height: 340px;
  margin-bottom: 24px;
  box-shadow: 0px 5px 10px #cec8c8;
}
#container_rest .cards:hover.h2, #container_rest .cards:hover .loca_rest {
  color: #9356DC;
}
#container_rest .cards .new {
  color: #278870;
  font-family: Roboto-bold;
  font-size: 1.2em;
  line-height: 35px;
  text-align: center;
  position: absolute;
  left: 310px;
  top: 5px;
  width: 25%;
  height: 35px;
  background: #99E2D0;
  border-radius: 5px;
}
#container_rest .cards .img {
  margin: 0px;
}
#container_rest .cards img {
  width: 100%;
  height: 250px;
  border-radius: 20px 20px 0px 0px;
}

.subtitle {
  display: flex;
  flex-direction: column;
  height: 70px;
  position: relative;
}
.subtitle h2 {
  font-family: Roboto-bold;
  font-size: 1.4em;
  margin: 15px 0px 3px 15px;
}
.subtitle .loca_rest {
  font-size: 1.3em;
  margin: 0px 0px 0px 15px;
}

#bg_img {
  position: relative;
  width: auto;
  height: 1620px;
}
#bg_img img {
  width: 100%;
  height: 350px;
}

#bg_big {
  position: relative;
  width: auto;
  height: 1720px;
}
#bg_big img {
  width: 100%;
  height: 350px;
}

#menu {
  background: #f8f9f9;
  position: absolute;
  top: 280px;
  width: 100%;
  height: 1340px;
  border-radius: 40px 40px 0px 0px;
}

#menu_big {
  background: #f8f9f9;
  position: absolute;
  top: 280px;
  width: 100%;
  height: 1440px;
  border-radius: 40px 40px 0px 0px;
}

#title {
  display: flex;
}
#title h1 {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 2.2em;
}
#title span {
  margin: 40px 0px 0px 50px;
  font-size: 1.8em;
}

.name_menu {
  margin-left: 20px;
  width: 10%;
  height: 30px;
  border-bottom: solid 4px #99E2D0;
}
.name_menu h2 {
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.2em;
}

.contain_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17px;
}
.contain_menu .food {
  display: flex;
  flex-direction: column;
  background: white;
  margin-bottom: 17px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #cec8c8;
  width: 93%;
  height: 75px;
}
.contain_menu .food h3 {
  font-family: Roboto;
  margin: 15px 0 0 15px;
}
.contain_menu .food_txt {
  display: flex;
}
.contain_menu .food_txt p {
  margin: 5px 0 0 15px;
  width: 100%;
}
.contain_menu .food_txt span {
  margin-right: 25px;
  font-family: Roboto-bold;
}

#contain_order {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

/* button explore/home */
#btn_exp {
  margin-top: 16px;
  border-radius: 50px;
  border: none;
  background: radial-gradient(ellipse at 0px 0px, #FF79DA 15%, #9356DC 100%);
  box-shadow: 0px 5px 10px #cec8c8;
  width: 50%;
  height: 50px;
  position: relative;
  color: white;
  font-family: Roboto;
  font-size: 1.1em;
  z-index: 1;
}
#btn_exp:active::after {
  opacity: 1;
}
#btn_exp::after {
  content: "";
  border-radius: 50px;
  box-shadow: 0px 3px 15px #504747;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(ellipse at 50px 50px, #FF79DA 60%, #9356DC 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

/* button order/pages */
#btn_order {
  margin-top: 16px;
  border-radius: 50px;
  border: none;
  background: radial-gradient(ellipse at 0px 0px, #FF79DA 15%, #9356DC 100%);
  box-shadow: 0px 5px 10px #cec8c8;
  width: 50%;
  height: 50px;
  color: white;
  font-family: Roboto;
  font-size: 1.1em;
}
#btn_order:hover {
  opacity: 0.75;
  transition: opacity 250ms;
  box-shadow: 0px 5px 10px #aaa0a0;
}

.heart {
  position: relative;
  top: -40px;
  left: 375px;
  bottom: 18px;
  font-size: 1.6em;
  cursor: pointer;
}
.heart:hover .empty {
  opacity: 0;
  transition: opacity 600ms 150ms;
}
.heart:hover .full {
  opacity: 1;
  animation: filling 600ms ease-in-out;
  transform-origin: 50% center;
}
.heart .empty {
  position: absolute;
}
.heart .full {
  position: absolute;
  opacity: 0;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes filling {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
