/* color of the charter */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

/* main color for footer */
$main-color: #ACB2B7;

/* backgroung light color */ 
$lightness-color: #f8f9f9;

/* color of shadow */
$shadow: #cec8c8;

/* h1 text size */
$size: 2em;