#exploremain {
    background: $lightness-color;
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: center;
    h1 {
        text-align: center;
        margin: 0px 60px;
    }
    p {
        margin: 16px 60px;
        text-align: center;
        font-size: 1.2em;
    }
}