body {
    margin: 0;
}

#bloc_page {
    width: 100%;
    margin: auto;
    @include desktop {
        width: 70%;
    }
}    

p {
    font-family: Roboto;
}

.h1_index{
    font-family: Roboto-bold;
}

h1 {
    font-family: "Shrikhand";
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}

